<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
    <style>
        body {
            background-color: #f0f0f0;
            font-family: 'Arial', sans-serif;
            text-align: center;
            padding: 20px;
        }

        h1 {
            color: #2ecc71; /* Green color for success message */
            margin-top: 100px;
        }

        img {
            width: 300px;
            height: 400px;
            margin: 20px 0;
        }

        button {
            background-color: #007bff;
            color: white;
            cursor: pointer;
            padding: 10px 20px;
            font-size: 16px;
            margin-top: 20px;
            border: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }

        /* Centering elements horizontally */
        .centered {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="centered">
        <h1>تم حفظ الدرجات بنجاح!</h1>
        <img src="/images/tmm.png" alt="Success Image">
        <button onclick="window.location.href='/admin'">إضافة درجات جديدة</button>
        <button onclick="window.location.href='/groups'">درجات الرهوط</button>
    </div>
</body>

</html>
